version: '3.8'
services:
  mongo:
    image: mongo:8.0
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  app:
    build: .
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    volumes:
      - .:/app
      - ./uploads:/app/uploads
      - app-node-modules:/app/node_modules
volumes:
  mongo-data:
  app-node-modules:
